<br><br>
<div class="row">
  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>Últimos 10 movimientos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>Top 5 productos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Referencia</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>